@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	max-width: 1200px ;
	margin: 0 auto;
	font-size: 100%;
	padding: 0 20px;
	font-family: Ubuntu Mono;
	background-color: #f4f4ff;
}

.profile-image {
	border: 2px solid #8a3eff;
	width: 50px;
	border-radius: 50%;
}
.cabeçalho {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 15px 15px 0 15px;
}

.cabeçalho-right{
	display: flex;
	gap: 4vh;
	flex-direction: row;
	margin: 20px;
}

.cabeçalho-right li::marker{
	color: #f4f4ff00;
}

.title {
	flex-direction: column;
	line-height: 30px;
	color: #0e0e0e;
	text-decoration: none;
}

.conteudo-principal {
	justify-content: center;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
	align-items: center;
	border-bottom: 1px solid #b7b7d6;
	border-top: 1px solid #b7b7d6;
}

.link {
	font-family: PT mono;
	color: #742edd;
	font-weight:600;
	font-size: 16px;
	padding: 10px;
	border-radius: 20px;
}

.link:hover {
	background-color: #742edd;
	color: #f4f4ff;
	transition: all ease 0.5s;
}

.area-conteudo {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0 40px;
}

.resumo {
	font-size: 16pt;
	font-weight: 600;
}

img {
	margin: 0 50px;
	width: 500px;
}

.meu-nome {
	font-family: Ubuntu Mono;
	line-height: 30px;
	font-size: 50pt;
}

.meus-projetos-button{
	background-color: #8a3eff;
	border: none;
	color: white;
	height: 60px;
	width: 50%;
	font-size: 100%;
	font-weight: bold;
	border-radius: 50px;
}

span {
	color: #8a3eff;
}

.conteudo-secundario {
	display: flex;
	flex-direction: column;
	gap: 2%;
	margin-top: 2%;
	text-align: center;
}

.conteudo-secundario p {
	color: #742edd;
	font-family: PT Mono;
}

.conteudo-secundario h3 {
	font-size: 20pt;
}

.conhecimentos,.metas,.conhecimentos-lista{
	margin-bottom: 2%;
}

.conhecimento-item::marker,
.metas-item::marker,
.frameworks-item::marker,
.databases-item::marker{
	color: #f4f4ff;
}