@media screen and (max-width: 1000px){
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	main{
		flex-direction: column;
		text-align: center;
	}

	p {
		margin: 0 20px 0 20px;
		padding-bottom: 30px;
		padding: 0 80px 0 80px;
	}

	h2 {
		font-size: 38px;
	}

	form {
		margin: 0 auto;
		width: 300px;
	}

	input{
		align-self: center;
	}

	img {
		display: none;
	}

	ul {
		text-align: ce;
	}
}

@media screen and (max-width: 818px){
	header {
		padding: 0 5px;
	}
	li {
		margin: 10px 5px;
		font-size: 14px;
	}
}

@media screen and (max-width: 500px){
	h2 {
		font-size: 30px;
	}
}